@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --insetGlowColor: 255, 166, 103;
}

.maskingClass::after {
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: add, add;
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

body {
  @apply bg-neutral-900;
}
