@import "tailwindcss";

:root {
  --insetGlowColor: 96, 165, 250;
  --radialGlowColor: 96, 165, 250;
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
.maskingClass::after {
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: add, add;
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

html {
  @apply scroll-smooth bg-black;
}

body {
  @apply bg-blue-500/[7%];
}
